<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.ArticleReplyMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.ArticleReply" >
    <id column="article_reply_id" property="articleReplyId" jdbcType="INTEGER" />
    <result column="specialist_id" property="specialistId" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="re-reply_id" property="reReplyId" jdbcType="INTEGER" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_reply_id, specialist_id, article_id, re-reply_id, reply_time, content
  </sql>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.ArticleReply" >
    insert into article_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleReplyId != null" >
        article_reply_id,
      </if>
      <if test="specialistId != null" >
        specialist_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="reReplyId != null" >
        re-reply_id,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleReplyId != null" >
        #{articleReplyId,jdbcType=INTEGER},
      </if>
      <if test="specialistId != null" >
        #{specialistId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="reReplyId != null" >
        #{reReplyId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.relax.model.ArticleReply" >
    update article_reply
    <set >
      <if test="specialistId != null" >
        specialist_id = #{specialistId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="reReplyId != null" >
        re-reply_id = #{reReplyId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where article_reply_id = #{articleReplyId,jdbcType=INTEGER}
  </update>
</mapper>