<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.OrderTimeslotMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.OrderTimeslotKey" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <id column="timeslot_id" property="timeslotId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.OrderTimeslotKey" >
    insert into order_timeslot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="timeslotId != null" >
        timeslot_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="timeslotId != null" >
        #{timeslotId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>