<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.OrderTypeMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.OrderTypeKey" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.OrderTypeKey" >
    insert into order_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>