<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="specialist_id" property="specialistId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="consulting_way" property="consultingWay" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="sum" property="sum" jdbcType="DOUBLE" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="consulting_start_time" property="consultingStartTime" jdbcType="TIMESTAMP"/>
    <result column="consulting_finish_time" property="consultingFinishTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, patient_id, specialist_id, type_id, order_status, consulting_way, publish_time, 
    complete_time, sum, location, description, consulting_start_time, consulting_finish_time
  </sql>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.Order" useGeneratedKeys="true"  keyProperty="orderId">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="specialistId != null" >
        specialist_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="consultingWay != null" >
        consulting_way,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="consultingStartTime != null" >
        consulting_start_time,
      </if>
      <if test="consultingFinishTime != null" >
        consulting_finish_time,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="specialistId != null" >
        #{specialistId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="consultingWay != null" >
        #{consultingWay,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="consultingStartTime, != null" >
        #{consultingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultingFinishTime, != null" >
        #{consultingFinishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.relax.model.Order" >
    update order
    <set >
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="specialistId != null" >
        specialist_id = #{specialistId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="consultingWay != null" >
        consulting_way = #{consultingWay,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=DOUBLE},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="consultingStartTime, != null" >
        consulting_start_time = #{consultingStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultingFinishTime, != null" >
        consulting_finish_time = #{consultingFinishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>