<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.PostReplyMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.PostReply" >
    <id column="post_reply_id" property="postReplyId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="re-reply_id" property="reReplyId" jdbcType="INTEGER" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    post_reply_id, user_id, post_id, re-reply_id, reply_time, content
  </sql>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.PostReply" useGeneratedKeys="true"  keyProperty="postReplyId">
    insert into post_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postReplyId != null" >
        post_reply_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="reReplyId != null" >
        re-reply_id,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postReplyId != null" >
        #{postReplyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="reReplyId != null" >
        #{reReplyId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.relax.model.PostReply" >
    update post_reply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="reReplyId != null" >
        re-reply_id = #{reReplyId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where post_reply_id = #{postReplyId,jdbcType=INTEGER}
  </update>
</mapper>