<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecnu.relax.mapper.PreorderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.ecnu.relax.model.PreorderStatus" >
    <id column="timeslot_id" property="timeslotId" jdbcType="INTEGER" />
    <id column="specialist_id" property="specialistId" jdbcType="INTEGER" />
    <result column="is_ordered" property="isOrdered" jdbcType="INTEGER" />
    <result column="is_free" property="isFree" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    timeslot_id, specialist_id, status, is_ordered, is_free, day
  </sql>
  <insert id="insertSelective" parameterType="com.ecnu.relax.model.PreorderStatus" >
    insert into preorder_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeslotId != null" >
        timeslot_id,
      </if>
      <if test="specialistId != null" >
        specialist_id,
      </if>
      <if test="isOrdered != null" >
        is_ordered,
      </if>
      <if test="isFree != null" >
        is_free,
      </if>
      <if test="day != null" >
        day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeslotId != null" >
        #{timeslotId,jdbcType=INTEGER},
      </if>
      <if test="specialistId != null" >
        #{specialistId,jdbcType=INTEGER},
      </if>
      <if test="isOrdered != null" >
        #{isOdered,jdbcType=INTEGER},
      </if>
      <if test="isFree != null" >
        #{isFree,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.relax.model.PreorderStatus" >
    update preorder_status
    <set >
      <if test="status != null" >
         is_ordered = #{isOdered,jdbcType=INTEGER},
         is_free = #{isFree,jdbcType=INTEGER},
         day = #{day,jdbcType=INTEGER},
      </if>
    </set>
    where timeslot_id = #{timeslotId,jdbcType=INTEGER}
      and specialist_id = #{specialistId,jdbcType=INTEGER}
  </update>
</mapper>